body {
    all: unset;
}

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }  

#topbar {
    all: unset;
    position: absolute;
    width: calc(100% - 8px * 2);
    height: 3rem;
    padding: 8px;
    background-color: #323248;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 100%;
        filter: drop-shadow(0px 0px 6px #abababaa);
    }
}

#title {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include gradient(to bottom, (#000000 0%, #000000 33%, #080808 100%))
}